//Gutenberg Block Styles

/* ACF BLOCKS BELOW THIS LINE */



/* DEFAULT GUTENBERG BLOCKS BELOW THIS LINE */

//Image Cover Block
.wp-block-cover{
	position: relative;
	min-height: 430px;
    width: 100%;
    margin: 0 0 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	
	background:{
		color: #000;
		size: cover;
		position: 50%;
	}

	
	p{
		color: #fff;
		line-height: 1.2;
		z-index: 1;
		margin-bottom: 0;
		max-width: 610px;
		padding: 14px;
		text-align: center;
		
		font:{
			family: inherit;
			size: 40px;
			weight:400;
		}

		
	}
	
	&.has-text-align-center{
		justify-content: flex-start;
		p{
			text-align: center;
			max-width:100%;
		}
	}
	
	
	&.has-left-content{
		justify-content: flex-start;
		p{
			text-align: left;
		}
	}
	
	&.has-right-content{
		justify-content: flex-end;
		p{
			text-align: right;
		}
	}
}

//Image Block
.wp-block-image{
    	margin: 0 0 1.5em;
		padding:0;
	
	figcaption{
		line-height: 1.6;
    	margin: 0;
    	padding: 0.5rem;
    	text-align: center;
		color:inherit;
		
		font:{
			size:16px;
		}
	}
}


//Image Gallery
.wp-block-gallery {
	display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
	
	.blocks-gallery-item {
		margin: 0 16px 16px 0;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;
		position: relative;
		width: calc((100% - 32px)/3);
		width:30%;
		
		figure{
			display: flex;
    		align-items: flex-end;
    		justify-content: flex-start;
			margin:0;
			height:100%;
			
			figcaption{
				line-height: 1.6;
				margin: 0;
				padding: 0.5rem;
				text-align: center;
				position: absolute;
				bottom: 0;
				width: 100%;
				max-height: 100%;
				overflow: auto;
				color: #fff;
				background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 60%,transparent);
			}
			
			img{
				height:100%;
				flex:1;
				object-fit: cover;
				width: 100%;
			}
		}
	}
}

//File Block
.wp-block-file{
	.wp-block-file__button{
		margin-left:25px;
	}
}

//Video Block
.wp-block-video{
	margin-left: 0;
    margin-right: 0;
	
	video{
		width:100%;
		max-width: 100%;
	}
	figcaption{
		line-height: 1.6;
    	margin: 0;
    	padding: 0.5rem;
    	text-align: center;
		color:inherit;
		
		font:{
			size:16px;
		}
	}
}

//Button Block
.wp-block-button{
	margin-bottom:25px;
}

//Media & Text Block
.wp-block-media-text{
	display: grid;
    grid-template-rows: auto;
    align-items: center;
    grid-template-areas: "media-text-media media-text-content";
    grid-template-columns: 50% auto;
	margin:25px 0;
	min-height:250px;
	
	&.has-media-on-the-right {
    	grid-template-areas: "media-text-content media-text-media";
    	grid-template-columns: auto 50%;
	}
	
	.wp-block-media-text__media{
		grid-area: media-text-media;
    	margin: 0;
		height: 100% !important;
		
		img,video{
			max-width: unset;
    		width: 100%;
    		vertical-align: middle;
		}
		
		img{
			height: auto;
			max-width: 100%;
			position: relative;
			
			height: 100%;
    flex: 1;
    object-fit: cover;
    width: 100%;

		}
	}
	
	.wp-block-media-text__content{
		word-break: break-word;
    	grid-area: media-text-content;
    	padding: 0 8%;
	}
}

// Archive, Latest Posts & Category Blocks
.wp-block-categories, .wp-block-archives, .wp-block-latest-posts, .wp-block-categories__list{
	list-style: none;
	padding-left:0 !important;
}

//Latest Comments Block
.wp-block-latest-comments{
	list-style: none;
	
	.wp-block-latest-comments__comment{
		    border-bottom: 1px solid $color_accent2;
			padding: 15px 0px;
		
		img{
			float: left;
			width: 75px;
			height: 75px;
			margin-right: 20px;
			border-radius: 50%;
		}
		
		.wp-block-latest-comments__comment-author{
			font-size: 18px;
			letter-spacing: 0.1px;
		}
		
		.wp-block-latest-comments__comment-date{
			display:block;
			letter-spacing: 0.1px;
    		font-size: 14px;
    		text-transform: uppercase;
			color:inherit;
		}
		
		.wp-block-latest-comments__comment-excerpt{
			position: relative;
			overflow: hidden;
			
		}
		
		footer{
			background:transparent;
			margin:0 0 .75em;
			padding:0;
		}
	}
}

// Embed Block
.wp-block-embed{
	margin-left: 0;
    margin-right: 0;
	max-width:100%;
	
	.wp-block-embed__wrapper{
		position: relative;
		padding-top: 56.25%;
	}
	
	&:before{
		content: "";
    	display: block;
	}
	
	iframe{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-width: 100%;
	}
	
	figcaption{
		line-height: 1.6;
    	margin: 0;
    	padding: 0.5rem;
    	text-align: center;
	}

}

// Block Quote Block
.wp-block-quote {
    border-left: 4px solid #000;
    margin: 0 0 28px;
    padding-left: 1em;
}