/*-----------------------------------------------------------------------------------*/
/*  FLEX GRID
/*-----------------------------------------------------------------------------------*/

/* Flex Grid Gutter Space */
$grid_spacing: 20px;

.grid,
.grid-mobile, .wp-block-columns {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid .cell,
.grid-mobile .cell, .wp-block-column {
	flex: 1;
}

// Calculate width based on grid spacing variable, adjusted to account for no spacing on the edges.
@mixin cell-spacing($percentage) {
	flex: 0 0 calc( #{$percentage * 100%} - #{$grid_spacing - ($grid_spacing * $percentage)} );
}


@media ( min-width: $breakpoint_medium + 1px ) {
	.grid, .wp-block-columns {
		display: flex;
	}

// 12-column grid
.grid.grid-12-col .cell {
	@include cell-spacing(0.0833);
	&.span-1 { @include cell-spacing(0.1); }
	&.span-2 { @include cell-spacing(0.166); }
	&.span-3 { @include cell-spacing(0.25); }
	&.span-4 { @include cell-spacing(0.333); }
	&.span-5 { @include cell-spacing(0.416); }
	&.span-6 { @include cell-spacing(0.5); }
	&.span-7 { @include cell-spacing(0.583); }
	&.span-8 { @include cell-spacing(0.666); }
	&.span-9 { @include cell-spacing(0.75); }
	&.span-10 { @include cell-spacing(0.833); }
	&.span-11 { @include cell-spacing(0.9); }
	&.span-12 { flex: 0 0 100%; }
}

// 2-column grid
.grid.grid-2-col .cell, .wp-block-columns.has-2-columns .wp-block-column{
	@include cell-spacing(0.5);
	&.span-2 { flex: 0 0 100%; }
}

// 3-column
.grid.grid-3-col .cell, .wp-block-columns.has-3-columns .wp-block-column {
	@include cell-spacing(0.3333);
	&.span-2 { @include cell-spacing(0.6666); }
	&.span-3 { flex: 0 0 100%; }
}

// 4-column
.grid.grid-4-col .cell, .wp-block-columns.has-4-columns .wp-block-column {
	@include cell-spacing(0.25);
	&.span-2 { @include cell-spacing(0.5); }
	&.span-3 { @include cell-spacing(0.75); }
	&.span-4 { flex: 0 0 100%; }
}

// 5-column
.grid.grid-5-col .cell, .wp-block-columns.has-5-columns .wp-block-column {
	@include cell-spacing(0.2);
	&.span-2 { @include cell-spacing(0.4); }
	&.span-3 { @include cell-spacing(0.6); }
	&.span-4 { @include cell-spacing(0.8); }
	&.span-5 { flex: 0 0 100%; }
}

// 6-column
.grid.grid-6-col .cell, .wp-block-columns.has-6-columns .wp-block-column {
	@include cell-spacing(0.1666);
	&.span-2 { @include cell-spacing(0.4); }
	&.span-3 { @include cell-spacing(0.6); }
	&.span-4 { @include cell-spacing(0.8); }
	&.span-5 { @include cell-spacing(1.0); }
	&.span-6 { flex: 0 0 100%; }
}
}

@media ( max-width: $breakpoint_medium ) {
	.grid-mobile {
		display: flex;
	}

	// 2-column grid
	.grid-mobile.grid-mobile-2-col .cell, .wp-block-columns.has-2-columns .wp-block-column {
		@include cell-spacing(0.5);
		&.span-2 { flex: 0 0 100%; }
	}

	// 3-column
	.grid-mobile.grid-mobile-3-col .cell, .wp-block-columns.has-3-columns .wp-block-column {
		@include cell-spacing(0.3333);
		&.span-2 { @include cell-spacing(0.6666); }
		&.span-3 { flex: 0 0 100%; }
	}

	// 4-column
	.grid-mobile.grid-mobile-4-col .cell, .wp-block-columns.has-4-columns .wp-block-column {
		@include cell-spacing(0.25);
		&.span-2 { @include cell-spacing(0.5); }
		&.span-3 { @include cell-spacing(0.75); }
		&.span-4 { flex: 0 0 100%; }
	}

	// 5-column
	.grid-mobile.grid-mobile-5-col .cell, .wp-block-columns.has-5-columns .wp-block-column {
		@include cell-spacing(0.2);
		&.span-2 { @include cell-spacing(0.4); }
		&.span-3 { @include cell-spacing(0.6); }
		&.span-4 { @include cell-spacing(0.8); }
		&.span-5 { flex: 0 0 100%; }
	}
	
	// 6-column
	.grid-mobile.grid-mobile-6-col .cell, .wp-block-columns.has-6-columns .wp-block-column {
	@include cell-spacing(0.1666);
	&.span-2 { @include cell-spacing(0.4); }
	&.span-3 { @include cell-spacing(0.6); }
	&.span-4 { @include cell-spacing(0.8); }
	&.span-5 { @include cell-spacing(1.0); }
	&.span-6 { flex: 0 0 100%; }
}
}