/*-----------------------------------------------------------------------------------*/
/*  FLEXIBLE LAYOUT
/*-----------------------------------------------------------------------------------*/
/* Flex Layout Padding */
$padding_small:25px;
$padding_medium:50px;
$padding_large:100px;

/* Flex Layout Container Width */
$container_small:960px;
$container_full:100%;

/* Background Images: Cover and center */
.layout-section.background_style-image .cls-background,
.layout-section.background_style-image .cls-background .cls-mobile-background {
	background-size: cover;
	background-position: center;
}

.layout-section.text_style-light-text {
	h1,h2,h3,h4,h5,h6,p,ul{
	color: #fff;
	}
}

/* Section Padding */
.layout-section.padding-small .cls-background{
	padding-top:$padding_small; 
	padding-bottom:$padding_small;
}
.layout-section.padding-medium .cls-background{
	padding-top:$padding_medium;
	padding-bottom:$padding_medium;
	
	@media (max-width: 767px){
		padding-top:$padding_small; 
		padding-bottom:$padding_small;
	}
}
.layout-section.padding-large .cls-background{
	padding-top:$padding_large;
	padding-bottom:$padding_large;
	
	@media (max-width: 991px){
		padding-top:$padding_medium;
		padding-bottom:$padding_medium;
	}
	
	@media (max-width: 767px){
		padding-top:$padding_small; 
		padding-bottom:$padding_small;
	}
}

/* Container Width */
.layout-section.container-small .container{
	max-width:$container_small;
}
.layout-section.container-full .container{
	max-width:$container_full;
}

/* Background images: Replace background for mobile */
@media ( min-width: 961px ) {
	.layout-section.background_style-image .cls-background.background_mobile-mobile-image-background .cls-mobile-background {
		background-image: none !important;
	}
}
@media ( max-width: 960px ) {
	.layout-section.background_style-image .cls-background.background_mobile-mobile-image-background {
		background-image: none !important;
	}
}

/* Background images: Remove background and add a new image below for mobile */
@media ( min-width: 961px ) {
	.layout-section.background_style-image .cls-background.background_mobile-mobile-image-after .cls-mobile-image, .layout-section.background_style-image .cls-background.background_mobile-mobile-image-before .cls-mobile-image {
		display: none !important;
	}
}
@media ( max-width: 960px ) {
	.layout-section.background_style-image .cls-background.background_mobile-mobile-image-after .cls-mobile-image, .layout-section.background_style-image .cls-background.background_mobile-mobile-image-before .cls-mobile-image {
		margin-top: 2em;
	 }

	.layout-section.background_style-image .cls-background.background_mobile-mobile-image-after, .layout-section.background_style-image .cls-background.background_mobile-mobile-image-before {
		background-image: none !important;
	}

	/* Fix light text against no background */
	.layout-section.background_style-image.text_style-light-text .cls-background.background_mobile-mobile-image-after, .layout-section.background_style-image.text_style-light-text .cls-background.background_mobile-mobile-image-before {
		color: #000;
	}
}