html {
	outline: none !important;
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  }

body {font-size: 16px;}

h1 { font-size: 40px; }

h2 { font-size: 36px; }

h3 { font-size: 30px; }

h4 { font-size: 24px; }

h5 { font-size: 18px; }

h6 { font-size: 15px; }

p {
	margin-top: 0;
}

/* Colors for Visual Editor (_includes/functions/editor.php)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
span.color-black { color: $color_black; }
span.color-white { color: $color_white; }

/* Weights for Visual Editor (_includes/functions/editor.php)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.weight-light {
	font-weight: 300;
}
.weight-regular {
	font-weight: 400;
}
.weight-medium {
	font-weight: 500;
}
.weight-bold {
	font-weight: 700;
}
.weight-black {
	font-weight: 900;
}

/* Underline for Visual Editor (_includes/functions/editor.php)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.text-underline {
	text-decoration: underline;
}