/***************************************
Mixins
contains global mixins, functions, helper selectors, etc.
***************************************/

/* Simple clearfix */
@mixin clearfix() {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}