/* Responsive Breakpoints */
$breakpoint_small: 575px;
$breakpoint_medium: 767px;
$breakpoint_large: 991px;
$breakpoint_xlarge: 1199px;

/* Container Widths */
$container_small: 540px;
$container_medium: 720px;
$container_large: 960px;
$container_xlarge: 1200px; //Default Size

/* Colors */
$color_black: #000000;
$color_white: #ffffff;
$color_accent1: #152b52;
$color_accent2: #AE8231;

/* Fonts */
//$font_menu: "Lato", sans-serif;