/*Gutenberg Admin Editor styles*/

@import "../_utils/variables";
@import "../_utils/mixins";
@import "../_layout/_typography.scss";
@import "../_layout/_layout.scss";
@import "../_layout/_blog.scss";
@import "../_layout/_blocks.scss";
@import "../_layout/_flex-layout.scss";
@import "../_layout/_flex-grid.scss";

.auto-fold{
	.block-editor-editor-skeleton{
		left:200px !important;
	}
}

.auto-fold .edit-post-header, .auto-fold .components-notice-list{
	left:200px;
}
.auto-fold .edit-post-layout__content{
	margin-left:200px !important;
}
.editor-styles-wrapper{
	.block-editor-block-toolbar{
		.block-editor-block-mover{
			button{
				display:block !important;
				padding:0 !important;
				height: auto !important;
			}
		}
		.block-editor-block-switcher__no-switcher-icon, .block-editor-block-switcher__toggle{
				display:block !important;
			span{
				position: relative;
    			top: 3px;
			}
		}
		
	button{
		display: inline-flex !important;
		text-decoration: none !important;
		font-size: 13px !important;
		margin: 0 !important;
		border: 0 !important;
		cursor: pointer !important;
		-webkit-appearance: none !important;
		background: none !important;
		transition: box-shadow .1s linear !important;
		height: 36px !important;
		align-items: center !important;
		box-sizing: border-box !important;
		padding: 0 8px !important;
		overflow: hidden !important;
		border-radius: 3px !important;
		color: #555d66 !important;
		
		&:hover{
			box-shadow: none !important;
		}
	}
		
	}
}

.block-editor{
.components-button.components-icon-button{
	line-height: normal;
	display: flex;
    align-items: center;
    padding: 8px;
    margin: 0;
    border: none;
    background: none;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
	text-decoration: none;
    font-size: 13px;
	height:auto;
}
.components-toolbar__control.components-button {
    display: inline-flex;
    align-items: flex-end;
    margin: 0;
    padding: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 36px;
}
.block-library-gallery-item__inline-menu .components-button{
	color:#fff;
}
.wp-block-gallery .blocks-gallery-item.has-add-item-button {
    width: 100% !important;
}
.wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    max-height: 100% !important;
    overflow: auto !important;
    padding: 40px 10px 5px !important;
    color: #fff !important;
    text-align: center !important;
    font-size: 13px;
    background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 60%,transparent) !important;
}
.edit-post-visual-editor .components-button {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
.components-icon-button.editor-block-switcher__no-switcher-icon, .components-icon-button.editor-block-switcher__toggle {
    margin: 0;
    display: block;
    height: 36px;
    padding: 3px;
}
.editor-block-mover__control{
	display:block !important;
	height:auto !important;
	padding:0 !important;
	line-height: inherit !important;
	height:24px !important;
}
.editor-block-mover__control svg {
    width: 28px;
    height: 24px;
    padding: 2px 5px;
}
.components-icon-button svg {
    fill: currentColor;
    outline: none;
}
.block-editor *, .block-editor :after, .block-editor :before, .components-modal__frame *, .components-modal__frame :after, .components-modal__frame :before {
    box-sizing: inherit;
}

.editor-inserter {
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 13px;
    line-height: 1.4;
}
.editor-block-list__insertion-point-inserter .editor-inserter__toggle {
    margin-top: -4px;
    border-radius: 50%;
    color: #007cba;
    background: #fff;
    height: 36px;
    width: 36px;
}
.edit-post-layout .components-notice-list .components-notice .components-notice__dismiss{
	position: absolute;
    top: 0;
    right: 0;
    color: #6c7781;
}
.components-icon-button{
	color:#555d66 !important;
}
.blocks-gallery-item__remove {
    padding: 0 !important;
	color:#fff !important;
}
.wp-block-gallery .blocks-gallery-image:last-child, .wp-block-gallery .blocks-gallery-item:last-child {
    margin-right: 0 !important;
}
.components-button.is-large {
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
	text-transform: none;
}
.components-button.is-default.block-library-gallery-add-item-button {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    vertical-align: top;
	letter-spacing: normal;
	font:{
		weight:400;
		size:13px;
		family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif !important;
	}
}
.edit-post-header .components-button.is-toggled {
    color: #fff !important;
}

.wp-block-quote:not(.is-large):not(.is-style-large) p:before, .editor-styles-wrapper .wp-block-pullquote .editor-rich-text p:before{
	    left: -50px !important;
}
.mce-toolbar .mce-listbox button, .mce-toolbar .mce-btn button {
    font-size: 13px;
    line-height: 20px;
    padding-left: 6px;
    padding-right: 20px;
	text-transform: none;
	border:none;
	height:auto;
	text-align: left;
}
.mce-toolbar .mce-btn button, .qt-dfw {
    padding: 2px 3px;
    line-height: normal;
}
.wp-block-table__cell-content.editor-rich-text__tinymce{
	padding:0;
}
.editor-styles-wrapper .wp-block-embed .wp-block-embed__wrapper{
	padding-top:0 !important;
}
.wp-picker-container .wp-color-result.button {
    height: 30px !important;
    margin: 0 6px 6px 0 !important;
    padding: 0 0 0 30px;
    font-size: 11px;
	text-transform:none;
	letter-spacing: normal;
	border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
	font-weight:400;
	line-height:inherit;
	box-shadow: 0 1px 0 #ccc;
	    border-radius: 3px;
}
	.wp-picker-container input[type=text].wp-color-picker{
		padding: 3px 5px;
		font-weight:400;
	}
	.acf-color-picker .wp-picker-input-wrap .button.button-small{
		letter-spacing: normal;
		text-transform: none;
		cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
		margin: 0;
		color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
		font-weight:400;
		line-height: 22px;
    padding: 0 8px 1px;
    font-size: 11px;
		    margin-left: 6px;
	}
	.wp-picker-input-wrap label{
		display:inline-block;
	}
	
	.editor-inserter-with-shortcuts button, .editor-block-list__empty-block-inserter .editor-inserter button{
		padding:0 !important;
	}
	
	.acf-button.button{
		color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
		display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
		text-transform: none;
		letter-spacing: normal;
		font-weight:400;
		
		&:hover{
			border-color:#555;
			color: #555;
		}
	}
.wp-media-buttons .button {
    margin-right: 5px;
    margin-bottom: 4px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
	text-transform:none !important;
	color: #555 !important;
    border-color: #ccc !important;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
	display: inline-block !important;
    text-decoration: none !important;
    font-size: 13px !important;
    line-height: 26px !important;
    height: 28px !important;
    margin: 0;
    padding: 0 10px 1px !important;
    cursor: pointer !important;
    border-width: 1px !important;
    border-style: solid !important;
    -webkit-appearance: none;
    border-radius: 3px !important;
    white-space: nowrap !important;
    box-sizing: border-box !important;
	font-weight:400 !important;
	letter-spacing: normal !important;
	    font-family: inherit !important;
}
.html-active .switch-html, .tmce-active .switch-tmce {
    background: #f5f5f5 !important;
    color: #555 !important;
    border-bottom-color: #f5f5f5 !important;
	font-weight:400 !important;
	letter-spacing: normal !important;
	    font-family: inherit !important;
	text-transform:none !important;
	padding: 3px 8px 4px;
    border: 1px solid #e5e5e5;
	cursor: pointer;
    font-size: 13px;
    line-height: 19px;
    height: 20px;
    margin: 5px 0 0 5px;
}
.wp-switch-editor {
    float: left;
    box-sizing: content-box !important;
    position: relative;
    top: 1px;
    background: #ebebeb !important;
    color: #666 !important;
    cursor: pointer !important;
    font-size: 13px !important;
    line-height: 19px !important;
    height: 20px !important;
    margin: 5px 0 0 5px !important;
    padding: 3px 8px 4px !important;
    border: 1px solid #e5e5e5 !important;
	letter-spacing: normal !important;
	    font-family: inherit !important;
	text-transform:none !important;
	font-weight:400 !important;
}
.mce-toolbar .mce-listbox button, .mce-toolbar .mce-btn button{
	line-height: 20px;
}
.mce-btn.mce-active, .mce-btn.mce-active button, .mce-btn.mce-active i, .mce-btn.mce-active:hover button, .mce-btn.mce-active:hover i{
	color:inherit !important;
}
.wp-core-ui .button, .wp-core-ui .button-secondary {
    box-shadow: 0 1px 0 #ccc !important;
    vertical-align: top !important;
	cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px !important;
    white-space: nowrap;
    box-sizing: border-box;
	letter-spacing: normal !important;
	    font-family: inherit !important;
	text-transform:none !important;
	font-weight:400 !important;
}
.quicktags-toolbar input[value=link] {
    text-decoration: underline !important;
}
.quicktags-toolbar input[value="b"] {
    font-weight: 600 !important;
}
.quicktags-toolbar input[value=del] {
    text-decoration: line-through !important;
}
textarea.wp-editor-area{
	font-family: Consolas,Monaco,monospace;
    font-size: 13px !important;
	font-weight:400 !important;
    padding: 10px !important;
    margin: 1px 0 0 !important;
    line-height: 150% !important;
    border: 0 !important;
    outline: 0 !important; 
    display: block;
    resize: vertical !important;
    box-sizing: border-box !important;
}
.editor-styles-wrapper select:not([multiple]), .editor-styles-wrapper select{
	width: 100%;
	padding: 2px;
	resize: none;
    margin: 0;
	box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4;
   max-width: 100%;
	height: 28px;
    vertical-align: middle;
	font-family: inherit;
	    font-weight: inherit;
	border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    transition: 50ms border-color ease-in-out;
	border-radius: 5px;
		-webkit-appearance: menulist !important;
	-moz-appearance: menulist !important;
	background-image: none;	
}

.button.insert-media{
	background-color:#f7f7f7 !important;
}
	
	.editor-styles-wrapper .wp-block-cover p.has-text-align-center{
		max-width:100%;
	}
	
@media (min-width: 782px){
	.edit-post-sidebar {
		width: 450px;
	}
}
	
#editor {
	.block-editor-inserter__results {
		display: flex;
		flex-direction: column;
		
		.components-panel__body:nth-child(2) {
			order: -1;
			border-bottom: 0;
		}
	}
}
	
	.components-editor-notices__dismissible .components-notice, .components-editor-notices__pinned .components-notice{
		max-width:99.75%;
	}

/* Gutenburg editor width */
$editor_wide: 1000px; 
.wp-block {
	margin:0 auto 25px !important;
  max-width: $editor_wide;
  &[data-align="full"] {
    max-width: none;
  }
  &[data-align="wide"] {
    max-width: calc( #{$editor_wide} + 200px );
  }
}
}
.editor-post-permalink{
	button{
		border:0 !important;
		padding:inherit !important;
		
		&:hover{
			box-shadow: none !important;
		}
	}
}